.list-wrapper {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);

  direction: rtl;

  ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.03);
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    li {
      background-color: rgba(0, 0, 0, 0.05);
      margin: 2px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.07);
      }
    }
  }

  button {
    border: none;
    background: transparent;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    text-align: right;
  }
}
