html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: 'Vazir', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
